svg {   
    margin-left:auto; 
    margin-right: auto; 
    display:block;
} /*ADDED STUFF HERE*/

body {
    margin: auto;
}

header {
    display: inline-block;
    padding: 30px;
}

h1 {
    float: left;
    font-family: Lato;
    color: #022835;
}

#key {
    float: right;
    border: solid #26596A 1px; 
    margin-left: 30px;
}
#map { border: solid black 1px; 
width: 960px;
height: 500px;
margin: auto;}

.land {
fill: #222;
}

.state-boundary {
fill: none;
stroke: #fff;
}
